body {
  text-align: center;
}
.withoutPromise {
  margin: 50px 0;
}
.withoutPromise button {
  background: red;
  padding: 5px 10px;
  border-radius: 3px;
}
.withPromise button {
  background: green;
  padding: 5px 10px;
  border-radius: 3px;
  color: #ffffff;
}
.withoutPromise h2 {
  color: red;
}
.withPromise h2 {
  color: green;
}